{{> partials/header}}
<main>
	<h1>{{Title}}</h1>
	<h2><time>{{{Date}}}</time>{{#Location}} • {{Location}}{{/Location}}</h2>
	{{#HeroImage}}
	<img src="/img/{{HeroImage}}">
	{{/HeroImage}}
	{{{HTML}}}
</main>
{{> partials/footer}}
