{{> partials/header}}
<p>Thoughts of mine, ranging from nearly complete to very incomplete:</p>
<ul>
	{{#Posts}}
	<li>{{Date}} • <a href="/article?id={{ID}}">{{Title}} </a></li>
	{{/Posts}}
</ul>
{{> partials/footer}}
