{{> partials/header}}
<main>
	<h1>{{Title}}</h1>
	<p>This website was made using <a href="https://mustache.github.io/">Mustache</a>, <a href="https://pandoc.org/">Pandoc</a>, and <a href="https://sass-lang.com/">Sass</a>.</p>
	<p>It is typeset in <a href="https://github.com/alerque/libertinus">Libertinus</a> and <a href="https://www.theleagueofmoveabletype.com/league-spartan">League Spartan</a>. Libertinus was forked by Khaled Hosny from Linux Libertine, which was designed by Philipp H. Poll. League Spartan was designed by Caroline Hadilaksono, Micah Rich, and Tyler Finck.</p>
	<p>This website and its content are © 2021 Julien Cherry except where otherwise specified.</p>
</main>
{{> partials/footer}}
