{{> partials/header}}
<main>
	<header>
		<h1>{{Title}}</h1>
		<h2><time>{{{Date}}}</time> • {{Location}}</h2>
	</header>
	<section>
		<p>I got out of bed around noon, disgruntled by existential angst I carried over from the day before. But somehow, something in me changed when I set off to Sunset Park for bubble tea. I settled into an unusual awareness of my surroundings on the bus, and I took this awareness with me to 8th Ave. and eventually the jetty of the Bush Terminal Piers Park. I watched the water lapping at my feet, a good distance from the skyscrapers of Manhattan.</p>
		<p>Looking inwards and inspired by the presence I felt—I began seeking to identify my personal ethos—principles I should live by. After careful thinking, I decided on two:
		<ol>
			<li>Be patient</li>
			<li>Be kind</li>
		</ol>
		<p>Though simple—if not hackneyed—there is a lot to learn from the virtues of patience and kindness. These are reminders for how to live when I’m feeling frustrated with myself, with others, or the world at large.</p>
		<p>First up is patience. Patience means witholding judgment, letting go of the worry and anxiety of what <em>should</em> be. Of utmost importance is being patient with myself, then extending that to others, and finally the world around me. Because if I can’t be patient with myself, how am I supposed to be patient with others?</p>
		<p>For me, this feels particularly important because, especially being autistic, my boundaries have been pushed my whole life. My physical and emotional needs have been deemed unreasonable simply because they’re atypical—and until recently, I believed what everyone had been saying was true. I believed the way I walked was incorrect, that my needs for certain kinds of order and routine a shortcoming that needed to be fixed.</p>
		<p>Second up is kindness. If patience is the energy I take in, kindness is the energy I put out. Once I’ve been patient with myself, others, and the world, I can be wholly kind in return.</p>
		<p>This inquiry into patience and kindess was rooted in an all-too-common worry of mine—that my life is, simply put, incoherent. In these times, it’s helpful to remind myself:</p>
		<blockquote>Not everything you do needs to make sense, be meaningful or impactful. The bright side is: if you do lots, certainly some of those things will.</blockquote>
		<p>With this idea, I take comfort in the fact that there’s so much to experience in life. And from it, I’ve come up with two more principles:</p>
		<ol>
			<li>Try one new thing every day</li>
			<li>Make one piece of art every day</li>
		</ol>
		<p>Like <em>patience in, kindness out</em>, these two principles allow me to take in the richeness of the world and from it, produce more richness. And they’re subjective—trying something new could be as simple as taking a different walking path; making art as simple as tactfully arranging a pile of sticks.</p>
		<p>All in all, I hope these four principles will help me on my journey to become a better human.</p>
	</section>
</main>
{{> partials/footer}}
