{{> partials/header}}
<p>My ethos is relatively simple. I should live by the two following principles:</p>
<ol>
	<li>Be patient</li>
	<li>Be kind</li>
</ol>
<p>to take care of myself, others, and the world, respectively.</p>
<p>Furthermore, to generally enrich myself, I’ve chosen two more principles:</p>
<ol>
	<li>Try one new thing every day</li>
	<li>Make one piece of art every day</li>
</ol>
<p>For a detailed explanation, read <a href="/article?id=ethos">my blog post about it</a>.</p>
{{> partials/footer}}
