{{> partials/header}}
<main>
	<h1>{{Title}} <img src="/images/neurodiversity.svg" alt="Pastel rainbow infinity symbol" height=30px style="display: inline-block;"></h1>
	<h2>Updated <time datetime="{{Date}}">{{Date}}</time></h2>
	<p>A little note on myself: I am <a href="https://en.wikipedia.org/wiki/Neurodiversity">neurodivergent</a>. This means I think and process information differently than most people, which impacts how I communicate with others. You might not immediately notice it when meeting me because I’ve spent my whole life learning how to communicate with neurotypical people, but it still is a significant part of who I am. So, if you have any questions on how this impacts how I communicate, please ask and I’ll be happy to explain 😊
</main>
{{> partials/footer}}
