{{> partials/header}}
<main>
	<h1>{{Title}}</h1>
	<p>After digging up my mom’s old <a href="https://en.wikipedia.org/wiki/Nikon_FE">Nikon FE</a> camera and receiving my shipment of film stock, I haphazardly loaded a roll of that 800-speed Fujifilm film into the camera and started shooting. (I was going to make a terrible joke about <a href="https://en.wikipedia.org/wiki/Photographic_processing">developing an interest in 35-mm photography</a>, but I decided against it.)</p>
	<p>I won’t claim that analog photography results in higher quality pictures than digital photography, but I attest that the experience is better. Modern photography is ubiquitous but careless—snapping a pic on an iPhone takes less than a second. Analog photography encourages patience, intention, and economy, virtues that modern technology has abandoned.</p>
	<p>I invite you to take a look at some of my favorite pictures!</p>

	{{#Photos}}
	<figure>
		<img src="{{Src}}" alt="{{Alt}}">
		<figcaption>
			<details>
				<summary><i>{{{Title}}}</i>. <span style="font-variant: small-caps;">{{Location}}</span>.</summary>
				<dl>
					<dt>Date</dt>
					<dd>{{{Date}}}</dd>
					<dt>Aperture</dt>
					<dd>{{Aperture}}</dd>
					<dt>Shutter Speed</dt>
					<dd>{{ShutterSpeed}}</dd>
					<dt>Lens</dt>
					<dd>{{Lens}}</dd>
					<dt>Film</dt>
					<dd>​{{Film}}</dd>
					{{#Notes}}
						<dt>Notes</dt>
						<dd>​{{{Notes}}}</dd>
					{{/Notes}}
				</dl>
			</details>
		</figcaption>
	</figure>
	{{/Photos}}
</main>
{{> partials/footer}}
