{{> partials/header}}
<p>Sometimes, when I happen to feel inspired, I make playlists. Like many people, I’d imagine.</p>
{{#Playlists}}
	<h2>{{Name}}</h2>
	<p>{{{Description}}}</p>
	{{{Embed}}}
{{/Playlists}}
{{> partials/footer}}
