{{> partials/header}}
<p>Miscellaneous stuff of mine that somehow ended up online.</p>
<ul>
	{{#Projects}}
		<li><a href="{{Link}}">{{Name}}</a> - {{{Description}}}
	{{/Projects}}
</ul>
{{> partials/footer}}
