{{> partials/header}}
<main>
	<h1>{{title}}</h1>
	<p>Miscellaneous stuff of mine that somehow ended up online.</p>
	<ul>
		{{#projects}}
			<li><a href="{{link}}">{{name}}</a> - {{{description}}}
		{{/projects}}
	</ul>
</main>
{{> partials/footer}}
