// Libertinus Serif

@font-face {
	font-family: "Libertinus";
	src: url("/fonts/LibertinusSerif-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Libertinus";
	font-style: italic;
	src: url("/fonts/LibertinusSerif-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Libertinus";
	font-weight: 600;
	src: url("/fonts/LibertinusSerif-Semibold.woff2") format("woff2");
}

@font-face {
	font-family: "Libertinus";
	font-style: italic;
	font-weight: 600;
	src: url("/fonts/LibertinusSerif-SemiboldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Libertinus";
	font-weight: bold;
	src: url("/fonts/LibertinusSerif-Bold.woff2") format("woff2");
}

// League Spartan

@font-face {
	font-family: "League Spartan";
	src: url("/fonts/LeagueSpartanVariable.woff2") format("woff2");
}

// Libertinus Mono

@font-face {
	font-family: "Libertinus Mono";
	src: url("/fonts/LibertinusMono-Regular.woff2") format("woff2");
}

// Libertinus Keyboard

@font-face {
	font-family: "Libertinus Keyboard";
	src: url("/fonts/LibertinusKeyboard-Regular.woff2") format("woff2");
}
