// Linux Biolinum

$root: "https://cdn.rawgit.com/juliencherry/linux-libertine/master/";

@font-face {
	font-family: "Biolinum";
	src: url($root + "LinBiolinum_R.woff");
}

@font-face {
	font-family: "Biolinum";
	font-style: italic;
	src: url($root + "LinBiolinum_RI.woff");
}

// Linux Biolinum Keyboard

@font-face {
	font-family: "Biolinum Keyboard";
	src: url($root + "LinBiolinum_K.woff");
}

@font-face {
	font-family: "Biolinum";
	font-weight: bold;
	src: url($root + "LinBiolinum_RB.woff");
}

// Linux Libertine

@font-face {
	font-family: "Libertine";
	src: url($root + "LinLibertine_R.woff");
}

@font-face {
	font-family: "Libertine";
	font-weight: bold;
	src: url($root + "LinLibertine_RB.woff");
}

@font-face {
	font-family: "Libertine";
	font-style: italic;
	src: url($root + "LinLibertine_RI.woff");
}

@font-face {
	font-family: "Libertine";
	font-style: italic;
	font-weight: bold;
	src: url($root + "LinLibertine_RBI.woff");
}

@font-face {
	font-family: "Libertine";
	font-weight: 600;
	src: url($root + "LinLibertine_RZ.woff");
}

@font-face {
	font-family: "Libertine";
	font-style: italic;
	font-weight: 600;
	src: url($root + "LinLibertine_RZI.woff");
}

// Linux Libertine Display

@font-face {
	font-family: "Libertine Display";
	src: url($root + "LinLibertine_DR.woff");
}

// Linux Libertine Italic

@font-face {
	font-family: "Libertine Italic";
	src: url($root + "LinLibertine_I.woff");
}

// Linux Libertine Mono

@font-face {
	font-family: "Libertine Mono";
	src: url($root + "LinLibertine_M.woff");
}
