$serif: "Libertinus", serif;
$sans-serif: "League Spartan", sans-serif;
$monospace: "Libertine Mono", monospace;
$keyboard: "Libertinus Keyboard", monospace;

$point-size: 25px; // (20px + 25px) / 2;	// default; handled by FlowType
$margin-size: $point-size;
