	<footer>
		<address>I’d love to hear from you! <a href="mailto:me@juliencherry.net"><br />me@juliencherry.net</a></address>
		<a href="/neurodiversity"><img src="/neurodiversity/img/neurodiversity.svg" height=15px></a>
	</footer>
	</body>
</html>
