<!DOCTYPE html>
<html>
	<head>
		<title>Julien Cherry | {{title}}</title>

		<link rel="stylesheet" href="/css/{{css}}.css">
		<link rel="stylesheet" href="/external/leaflet.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w==" crossorigin="anonymous"></script>
		<script src="/external/leaflet.js"></script>
		<script src="/external/flow-type.js"></script>
		<script src="/js/resize-text.js"></script>
		<script async src="/js/find-insecure-links.js"></script>
		<script async src="/external/font-awesome.js"></script>

		<link rel="shortcut icon" href="favicon.ico">

		<meta name="keywords" content="Julien Cherry, software engineer, New York City, computer science, linguistics">
		<meta name="author" content="Julien Cherry">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<meta name="robots" content="noarchive">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">Julien Cherry</a></li><!--prevents dastardly inline-block spacing
					--><li><a href="/blog">Blog</a></li><!--
					--><li><a href="/photography">Photography</a></li><!--
					--><li><a href="/projects">Projects</a></li>
				</ul>
			</nav>
		</header>
