<!DOCTYPE html>
<html>
    <head>
        <title>Julien Cherry | {{title}}</title>

        <link rel="stylesheet" href="/css/{{css}}.css" />
        <link rel="stylesheet" href="/external/leaflet.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="/external/flow-type.js"></script>
        <script src="/external/leaflet.js"></script>
        <script src="/js/script.js"></script>
        <script defer src="/external/font-awesome.js"></script>

        <link rel="shortcut icon" href="favicon.ico" />

        <meta name="keywords" content="Julien Cherry, undergraduate, student, computer science, linguistics, Northeastern University, Boston, Massachusetts">
        <meta name="author" content="Julien Cherry">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	    <meta charset="utf-8">
	    <meta name="robots" content="noarchive">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Julien Cherry</a></li><!--prevents dastardly inline-block spacing
                    --><li><a href="https://blog.juliencherry.net/">Blog</a></li><!--
                    --><li><a href="/photography">Photography</a></li><!--
                    --><li><a href="/projects">Projects</a></li>
                </ul>
			</nav>
        </header>
