{{> partials/header}}
<main>
	<h1>{{title}}</h1>

	<p>My name’s <strong title="/d͡ʒuliən t͡ʃɛɹi/">Julien Cherry</strong> and I’m a sofware engineer based out of New York City. I currently work at <a href="https://www.seamsociallabs.com/">Seam Social Labs</a>, where I am helping to empower communities by building a product called <a href="https://cocensus.io/">co:census</a>.</p>

	<aside>
		<div id="map"></div>
		<script src="/js/map.js"></script>
	</aside>

	<p>I grew up in Central Massachusetts and went on to study Computer Science and Linguistics at <a href="https://northeastern.edu/">Northeastern University</a>. During that time, I also developed software at <a href="https://www.basistech.com/">Basis Technology</a> in Cambridge, <a href="https://www.proglove.de/">ProGlove</a> in Munich, and Pivotal Software (now known as <a href="https://tanzu.vmware.com/">VMware Tanzu</a>) in Manhattan.</p>

	<p>In my spare time, I volunteer for <a href="https://www.operationfriendship.org/">Operation Friendship</a> and <a href="https://www.destinationimagination.org/">Destination Imagination</a>, organizations I’ve been with for at least eight years each. I also love performing improv, stargazing, and creating complex travel itineraries that sometimes end painfully.</p>
</main>

{{> partials/footer}}
