{{> partials/header}}
<main>
	<h1>{{title}}</h1>

	<p>My name’s <strong title="/d͡ʒuliən t͡ʃɛɹi/">Julien Cherry</strong>, and I’m a linguist and software engineer based out of New York City. I graduated from <a href="https://northeastern.edu/">Northeastern University</a> in August with a B.S. in Computer Science and Linguistics and a Minor in Psychology. I’m currently finishing up an internship at <a href="https://www.basistech.com/">Basis Technology</a> in Cambridge, MA. In the past, I’ve also developed software at <a href="https://www.proglove.de/">ProGlove</a> in Munich and Pivotal Software (now known as <a href="https://tanzu.vmware.com/">VMware Tanzu</a>) in Manhattan.</p>

	<p>I’m currently looking for full-time software engineering opportunities—please <a href="mailto:me@juliencherry.net">get in touch</a> if you’re interested in working with me! You can view some of my <a href="/projects">my projects</a> or <a href="https://github.com/juliencherry">visit my GitHub</a> to take a look at some of my work.</p>

	<aside>
		<div id="map"></div>
		<script src="/js/map.js"></script>
	</aside>

	<p>In my spare time, I volunteer for <a href="https://www.operationfriendship.org/">Operation Friendship</a> and <a href="https://www.destinationimagination.org/">Destination Imagination</a>, organizations I’ve been with for over seven years each. I also love performing improv, stargazing, and creating complex travel itineraries that sometimes end painfully.</p>
</main>

{{> partials/footer}}
