{{> partials/header}}
<main>
	<h1>{{title}}</h1>

	<p>My name’s <strong title="/d͡ʒuliən t͡ʃɛɹi/">Julien Cherry</strong>. I’m a linguist and software engineer based out of New York City (Ridgewood, Queens to be specific) and looking for full-time employment once I graduate from <a href="https://northeastern.edu/">Northeastern University</a> in August with a B.S. in Computer Science and Linguistics. Until then, I’m finishing up a Minor in Pscyhology and <a href="https://careers.northeastern.edu/cooperative-education/">co‑oping</a> at <a href="https://www.basistech.com/">Basis Technology</a> (based in Cambridge, MA). In the past, I’ve also developed software while working at <a href="https://www.proglove.de/">ProGlove</a> in Munich and <a href="https://pivotal.io/">Pivotal Software</a> in Manhattan.</p>

	<aside>
		<div id="map"></div>
		<script src="/js/map.js"></script>
	</aside>

	<p>In my spare time, I volunteer for <a href="https://www.operationfriendship.org/">Operation Friendship</a> and <a href="https://www.destinationimagination.org/">Destination Imagination</a>, organizations I’ve been with for over seven years each. I also love performing improv, stargazing, and creating complex travel itineraries that sometimes end painfully.</p>
</main>

{{> partials/footer}}
