	<footer>
		<a href="/colophon">Colophon</a> · <a href="mailto:me@juliencherry.net">Email me</a>
		<a href="/neurodiversity"><img src="/images/neurodiversity.svg" alt="Pastel rainbow infinity symbol" height="15px"></a>
	</footer>
	</body>
</html>
