			<footer>
				<ul>
					<li><a href="/colophon">Colophon</a></li>
					<li><a href="/ethos">Ethos</a></li>
					<li><a href="mailto:me@juliencherry.net">Email me</a></li>
					<li><a href="/neurodiversity"><img src="/images/neurodiversity.svg" alt="Pastel rainbow infinity symbol" height="15px"></a></li>
				</ul>
			</footer>
		</main>
	</body>
</html>
