@import "_colors";
$accent-color: $green;

@import "_theme";

main {
	padding: 0;

	header {
		margin: 0;
		padding: 2rem 4rem;
		background-size: cover;
		background-repeat: no-repeat;

		h1, h2 {
			color: $white !important;
			@include text-shadow(
				0 0 8px $black,
			);
		}

		h1 {
			font-size: 2.5rem;
		}
	}

	section {
		margin: 2rem 4rem;
	}
}

@media (max-width: 611px) {
	main {
		header {
			padding: 0.75rem;
		}

		section {
			margin: 0.75rem;
		}
	}
}
