@charset "utf-8";

@import "_colors";
@import "_fonts";
@import "_mixins";
@import "_variables";

$content-width: 50rem;
$logo-width: 6rem;
$logo-margin: 1rem;

:root {
    color: $black;
    font-size: 16px;
}

body {
    background-color: #FFF;
    margin: 0;
	font-family: $serif;
}

header {
    background-color: $accent-color;
	@include user-select(none);

    a {
        display: flex;
        justify-content: space-between;
        width: $content-width + ($logo-width + $logo-margin) * 2;
        margin: 0 auto;
        padding: 2rem;
    }

    img {
        width: $logo-width;
        margin-right: $logo-margin;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h1, h2 {
        color: $white;
        margin: 0;
        padding: 0;
        width: $content-width + $logo-width + $logo-margin;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}
 
header a, main {
    margin: 0 auto;
    padding: 2rem;
}

main {
    max-width: $content-width;
}

nav, footer {
	li {
		display: inline;

		&:not(:first-child):before {
			content: "• ";
		}
	}
}

a {
    color: $accent-color;
}

img {
	max-width: 100%;
}

a:not([href^="https://"]):not([href^="mailto:"]):not([href^="/"]):not([href^="#"]) {
    &:before {
        content: "🔓";
    }

	&:hover::after {
		content: "Careful! This link may be insecure.";
		position: absolute;

		background-color: $black;
		color: $white;
		font-size: 80%;

		margin: 0 0.25em;
		border-radius: 0.25em;
		padding: 0.25em;
    }
}
