{{> partials/header}}
<main>
	<h1>{{title}}</h1>
	<p>Sometimes, when I happen to feel inspired, I make playlists. Like many people, I’d imagine.</p>
	{{#playlists}}
		<h2>{{name}}</h2>
		{{{embed}}}
	{{/playlists}}
</main>
{{> partials/footer}}
